{% extends 'base.html' %}
{% load mathjax %}

{% block left_sidebar %}
    <form method="get" action=".">
        {{ filter.form.as_p }}
        {% csrf_token %}
        <button type="submit">фильтровать</button>
    </form>
{% endblock %}

{% block content %}
    {% for task in filter.qs %}
        <div class="container-fluid">
            <div class="row">
                <h3><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></h3>
                <div>
                    {% mathjax_scripts %}
                    {{ task.short_description | safe }}
                </div>
                <div>
                    {% include 'basket/_add_to_basket.html' with task=task %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}

{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $basket = $('#basket_top');
            $(".btn_form").on("click", function (e) {
                e.preventDefault();
                $parent = $(this).parent();
                $btn = $(this);
                var url = $parent.attr('action');
                var method = $parent.attr('method');

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: $parent.serialize(),
                    dataType: 'json',
                    success: function (data) {
                        $btn.attr('disabled', '');
                        $basket.text('Корзина: '+ data['basket_price']);
                    },
                    error: function () {
                        alert('Извините сейчас на сервере небольшие проблемы, перезагрузите страницу или попробуйте позже')
                    }
                });
            })
        })
    </script>
{% endblock extra_scripts %}